/* COLOR THEME https://color.adobe.com/Flat-UI-color-theme-2469224/edit/?copy=true 

  #2C3E50 dblue
  #E74C3C red
  #FF5442 lighter red for hover
  #ECF0F1 white
  #3498DB lblue
  #2980B9 mblue 
  #141C24 blackblue

  
*/

$prim-color: #2C3E50;
$sec-color: #2980B9;
$highlight-color: #3498DB;
$btn-color: #E74C3C;
$btn-highlight: #FF5442;
$bg-color: #141C24;
$txt-color: #141C24;
$white: #ECF0F1;

@import url("https://fonts.googleapis.com/css?family=Open+Sans|Satisfy");
/* |Lobster|Lobster+Two   font-family: 'Lobster', 'Lobster Two', 'Satisfy', 'Open Sans'; */

$font-stack: 
    'Open Sans',
    Helvetica, arial,
    sans-serif;

* {
    box-sizing: border-box;
}

body {
    background-color: $bg-color;
}

.flex {
    display: flex;
}

.content {
    background-color: $white;
    padding: 1rem;
    margin-top: 1rem;
    margin-right: auto;
    margin-left: auto;
    border-radius: 3px;
    box-shadow: 0 15px 35px rgba(50, 50, 93, 0.1), 0 5px 15px rgba(0, 0, 0, 0.07);
}

.page {
    max-width: 900px;
    margin: 0 auto;
    background-color: $white;
    padding: 20px;
   
}

body,
h2,
h3,
h4,
h5,
p,
ul,
li {
    font-family: $font-stack;
    font-weight: 400;
    color: $txt-color;
}
h1 { 
    font-size: 40px;
    color: $txt-color; 
    font-family: 'Satisfy', 'Open Sans', 'Helvetica', 'Arial', sans-serif
}

p { margin: .8em 0;}
a {
    color: $sec-color;
}

a,
a:hover,
a:focus,
a:active {
    text-decoration: none;
}

a:hover,
a:focus {
    color: $btn-color;
}
textarea:focus,input:focus, a:focus, button:focus, select:focus {
    outline: $btn-highlight;
}
a:active {
    color: $btn-color;
}

.icon {
  width: 35px;
  height: 35px;
}
.site-logo {
    width:40px;
}
.mobile-menu { display: none;}
.btn, .select-btn {
    display: inline-block;
    padding: .75rem 2rem;
    margin-top: 1.618rem;
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;
    color: $white !important;
    vertical-align: middle;
    white-space: nowrap;
    background-color: $btn-color;
    border: 1px solid transparent;
    box-shadow: 0 15px 35px rgba(50, 50, 93, 0.1), 0 5px 15px rgba(0, 0, 0, 0.07);
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-transition: all 0.25s cubic-bezier(0.4, 0, 1, 1);
    transition: all 0.25s cubic-bezier(0.4, 0, 1, 1);
}
.btn:focus,
.btn:hover {
    background-color: $btn-highlight;
    box-shadow: 0 18px 35px rgba(50, 50, 93, 0.1), 0 8px 15px rgba(0, 0, 0, 0.07);
}
.btn:focus {
    outline: 0;
}
.btn a:focus, .btn a:hover, .btn a:visited, .btn a:link {
    
    outline: 0;
    color: $white;
}
.select-btn {
    padding: .5rem;
    margin: .5rem;
}
@media (max-width: 426px){
    body {
        margin: 0; padding: 0;
    }
    .page {
        padding: 10px 0;
        max-width: 425px;
    }
    .mobile-menu { display: block;}
    .page h1 {
        margin-left: 10px;
    }
}