.clothing-item-display {
    display: flex;
    margin-top: 40px;
}

.clothing-item-display-img {
    width: 250px;
    height: 375px;
    margin-right: 20px;
    display: block;
}

.clothing-item-details {
    max-width: 400px;
}

.clothing-row {
    display: flex;
    justify-content: space-between;
}

.gallery-items-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.mini-gallery-item-box {
    padding: 0;
}

.gallery-items-container img {
    height: auto;
    width: 100px;
}

.gallery-title-mobile {
    display: none;
}

.gallery-title-desktop {
    display: block;
    text-align: center;
}

.materials-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    margin: 20px;
}

.material-box {
    width: 150px;
    min-height: 210px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding-bottom: 5px;
    margin-bottom: 15px;
    border-bottom: 1px solid #ccc;
}

.material-box h3 {
    margin: 10px 0 1px 0;
}

.material-box p {
    margin: 1px 0;
}

.material-box button {
    margin: 5px 0;
}

.material-image {
    width: 75px;
}

.measurements-dropdowns {
    display: flex;
    justify-content: space-around;
}

.sel-dropdown {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.sel-dropdown li {
    list-style: none;
    margin: 5px 20px 5px 0; // width: 30%
}

.styletype {
    margin-right: 5px;
    font-size: 1.17em;
}

.item-display {
    display: flex;
}

.no-btn-look {
    border: 0;
    background: none;
}

.step {
    margin: 25px 0;
}

.step-title {
    margin: 40px 0;
    font-weight: 800;
}

.clothing-cat .categories {
    margin: 15px;
}

.clothing-subcat {
    display: flex; // justify-content: space-around;
    margin-left: 16px;
}

button.sub-categories {
    border: 1px solid #ccc;
    background-color: #eee;
    margin: 0 10px 10px 0;
    padding: .5rem 1rem;
}

button.sub-categories:focus {
    background-color: $btn-color;
    border-color: $btn-color;
    color: $white;
}

@media (max-width: 426px) {
    .measurements-dropdowns {
        flex-direction: column;
    }
    .sel-dropdown {
        margin-right: 20%;
    }
    .clothing-row {
        flex-direction: column;
        margin-top: 20px;
    }
    .gallery-items-container {
        flex-direction: row;
        margin-top: 10px;
        flex-wrap: wrap;
    }
    .mini-gallery-item-box {
        margin: 0 7px;
    }
    .gallery-title-desktop {
        display: none;
    }
    .gallery-title-mobile {
        display: block;
        margin-top: 40px;
        text-align: center;
    }
    #clothing .content-main {
        padding: 0 7px;
    }
    .clothing-cat {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }
    .clothing-subcat {
        flex-wrap: wrap;
        align-content: space-around;
    }
    #clothing .clothing-cat .categories {
        padding: .75rem;
        margin: 5px;
    }
    .step-title {
        margin: 25px 0;
    }
}