.hiw-container {
	display: flex;
	flex-wrap: wrap;
}
.hiw-title {
	font-size: 30px;
}
.hiw-title span {
	font-family: 'Satisfy','Lobster Two','Lobster','Open Sans', 'Helvetica','Arial', sans-serif;
}
.hiw-explain {
	padding: 40px 25px;
	
}
.hiwitalics {
	font-style: italic;
	font-size: 15px;
	text-align: center;
	display: block;
	letter-spacing: 1px;
	margin-bottom: 20px;
}
.hiwimg, .l-hiwimg {
	padding: 20px 0;
}
.col50 {
	width: 50%;
	border-top: 10px solid $btn-color;
}
.hiwimg img, .l-hiwimg img {
	max-width: 500px;
	width: 100%;
	height: auto;
}
.hiw-button {
	display: block;
	text-align: center;
}
@media (max-width: 426px){
	.hiwimg, .l-hiwimg {
		display: none;
	}
	.hiw-explain { width: 100%; display: block; }
	.col50 {
		border-top: 20px solid $btn-color;
	}
}